{% extends 'base.html' %}
  {% block header %}
  <h1>{% block title %}Update Info{% endblock %}</h1>
  {% endblock %}
  {% block content %}
  <form method="post">
    <label for="calorie_total"> Total Daily Calorie goal </label>
    <input type="number" id="calorie_total" name="calorie_total" min=1000>
    <label for="bodyweight"> Body Weight </label>
    <input type="number" id="bodyweight" name="bodyweight" min=0>
    <label for="water_amount"> Daily Water Goal </label>
    <input type="number" id="water_amount" name="water_amount" min=0>
    <label for="carb"> Percent Carbs </label>
    <input type="number" id="carb_goal" name="carb" min=0>
    <input class="btn-large" type="submit" value="Save">
  </form>
  {% endblock %}
